<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <%@owners.each do |owner|%>
      <a href="/owners/<%= owner.id %>"><%= owner.name %></a>
      <br>
      <li><%= owner.pets %></li>
      <br>
    <%end%>
    </ul>


  </body>
</html>
